.customers_tableCard {
  width: 100%;
  background-color: white;
  height: max-content;
  margin-top: 2rem;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.breadcrumb {
  align-items: center;
  display: flex;
}
.breadcrumb a {
  all: unset;
  color: #7787bc;
}
.breadcrumb__separator {
  margin: 0 8px;
}
.customers_main {
  width: 100%;
  padding: 25px 25px;
}
button {
  all: unset;
}
.cus_head_second {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.success_btn {
  background-color: #00963f;
  margin-right: 10px;
  height: 20px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.success_outline_btn {
  color: #00963f;
}
.customers_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input-wrapper input {
  padding: 1.25rem 0.75rem 0.25rem;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  height: 3rem;
  width: 100%;
  border: 0.0625rem solid #b7bcbf;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #2c2e2f;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: 600;
}
.modal-header {
  padding: 5px !important;
  margin-bottom: 15px;
}
.modal-footer {
  padding: 5px !important;
  margin-top: 15px;
}
.modal_button_wrapper {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}
.icon_btns {
  color: white;
  padding: 0.25rem 0.25rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 3px;
  min-height: 0;
}
.cus_search_input{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #a8afc7;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e8e8f7;
    border-radius: 3px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 38px;
    border-radius: 5px;
}
.cus_search_input:focus{
    color: #8f9cc0;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(135 96 251 / 25%);
    border-color: #a8afc7;
    box-shadow: none;
}
.cus_float_right{
    width: max-content;
    margin-top: 1rem;
    margin-bottom: 2rem;
    float: right !important;
}